OurTranslator1/Service References/WebBankService/WebBank.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="creditScore" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOfferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOfferSoapIn">
    <wsdl:part name="parameters" element="tns:GetOffer" />
  </wsdl:message>
  <wsdl:message name="GetOfferSoapOut">
    <wsdl:part name="parameters" element="tns:GetOfferResponse" />
  </wsdl:message>
  <wsdl:portType name="WebBankSoap">
    <wsdl:operation name="GetOffer">
      <wsdl:input message="tns:GetOfferSoapIn" />
      <wsdl:output message="tns:GetOfferSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebBankSoap" type="tns:WebBankSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOffer">
      <soap:operation soapAction="http://tempuri.org/GetOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebBankSoap12" type="tns:WebBankSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOffer">
      <soap12:operation soapAction="http://tempuri.org/GetOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebBank">
    <wsdl:port name="WebBankSoap" binding="tns:WebBankSoap">
      <soap:address location="http://localhost:53845/WebBank.asmx" />
    </wsdl:port>
    <wsdl:port name="WebBankSoap12" binding="tns:WebBankSoap12">
      <soap12:address location="http://localhost:53845/WebBank.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>