GetBanks/Service References/BankService/RuleBase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetBankQueues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CreditScore" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBankQueuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBankQueuesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBankQueuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetBankQueues" />
  </wsdl:message>
  <wsdl:message name="GetBankQueuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetBankQueuesResponse" />
  </wsdl:message>
  <wsdl:portType name="RuleBaseSoap">
    <wsdl:operation name="GetBankQueues">
      <wsdl:input message="tns:GetBankQueuesSoapIn" />
      <wsdl:output message="tns:GetBankQueuesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RuleBaseSoap" type="tns:RuleBaseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBankQueues">
      <soap:operation soapAction="http://tempuri.org/GetBankQueues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RuleBaseSoap12" type="tns:RuleBaseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBankQueues">
      <soap12:operation soapAction="http://tempuri.org/GetBankQueues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RuleBase">
    <wsdl:port name="RuleBaseSoap" binding="tns:RuleBaseSoap">
      <soap:address location="http://localhost:59361/RuleBase.asmx" />
    </wsdl:port>
    <wsdl:port name="RuleBaseSoap12" binding="tns:RuleBaseSoap12">
      <soap12:address location="http://localhost:59361/RuleBase.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>