Client/Service References/LoanBrokerService/LoanBrokerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InvokeLoanBroker">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InvokeLoanBrokerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InvokeLoanBrokerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InvokeLoanBrokerSoapIn">
    <wsdl:part name="parameters" element="tns:InvokeLoanBroker" />
  </wsdl:message>
  <wsdl:message name="InvokeLoanBrokerSoapOut">
    <wsdl:part name="parameters" element="tns:InvokeLoanBrokerResponse" />
  </wsdl:message>
  <wsdl:portType name="LoanBrokerServiceSoap">
    <wsdl:operation name="InvokeLoanBroker">
      <wsdl:input message="tns:InvokeLoanBrokerSoapIn" />
      <wsdl:output message="tns:InvokeLoanBrokerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanBrokerServiceSoap" type="tns:LoanBrokerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvokeLoanBroker">
      <soap:operation soapAction="http://tempuri.org/InvokeLoanBroker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LoanBrokerServiceSoap12" type="tns:LoanBrokerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InvokeLoanBroker">
      <soap12:operation soapAction="http://tempuri.org/InvokeLoanBroker" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanBrokerService">
    <wsdl:port name="LoanBrokerServiceSoap" binding="tns:LoanBrokerServiceSoap">
      <soap:address location="http://localhost:55100/LoanBrokerService.asmx" />
    </wsdl:port>
    <wsdl:port name="LoanBrokerServiceSoap12" binding="tns:LoanBrokerServiceSoap12">
      <soap12:address location="http://localhost:55100/LoanBrokerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>